# data
data/raw/
data/processed/

# model
models/checkpoints/
models/artifacts/*.pt
models/*.bin

# cache
__pycache__/
*.pyc

# env
.env
.venv/

# notebook checkpoint
.ipynb_checkpoints/

# system
.DS_Store